/* styles.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

#restaurants {
  margin: 20px auto;
  width: 80%;
}

.restaurant-table {
  margin: 5px auto;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc; /* Add border to the table */
}

.restaurant-table th,
.restaurant-table td {
  padding: 10px;
  border: 1px solid #ccc; /* Add border to table cells */
}

.restaurant-table th {
  text-align: right;
}

.restaurants-container {
  margin: 20px auto;
  width: 80%;
}

.restaurant {
  padding: 20px;
  border: 1px solid #ccc;
}
